* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif; }

.container {
  margin: 0 auto;
  width: 1140px; }

.header {
  max-width: 100%;
  position: relative;
  background-color: #f1e4e6; }
  .header__flex {
    display: flex; }
  .header__img-box {
    width: 49%; }
    .header__img-box img {
      width: 100%; }
  .header__container {
    width: 50%; }
    .header__container__white {
      background-color: #f4f3f3; }
  .header__text-box {
    margin-top: 30%;
    margin-left: 7%;
    padding-left: 12px;
    border-left: 12px solid #f16d7f; }
  .header__h {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 40px; }
  .header__p {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 32px;
    padding-top: 20px; }
    .header__p__pink {
      color: #f16d7f; }

.header-nav__input-search {
  display: none;
  background-color: #f1e4e6;
  padding: 10px 15px;
  margin-left: 20px;
  margin-top: 14px;
  width: 50%;
  height: 30px;
  border: 1px solid #595959;
  border-radius: 3px;
  color: #595959;
  font-size: 20px; }
.header-nav__left {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  justify-content: flex-start; }
.header-nav__right {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: flex-end; }
.header-nav__link {
  width: 75px;
  height: 75px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  color: #595959;
  line-height: 68px; }
  .header-nav__link__call-menu:active ~ .menu {
    display: flex; }
  .header-nav__link__call-search:active ~ .header-nav__input-search {
    display: block; }
  .header-nav__link__black {
    background-color: #222222;
    color: white; }
    .header-nav__link__black:hover {
      background-color: white;
      color: #595959; }
  .header-nav__link:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.17); }

.header-nav-drop__long {
  display: flex;
  left: 0;
  width: 100%;
  min-height: 44px;
  top: 100px;
  background-color: #fff;
  align-items: center; }

.menu {
  position: absolute;
  top: 100px;
  width: 75%;
  padding-left: 10%;
  padding-right: 15%;
  display: none;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: space-around;
  background-color: #ffffff; }
  .menu__link {
    display: block;
    text-decoration: none;
    color: #232323;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    padding: 10px 0;
    white-space: nowrap; }
    .menu__link:hover {
      color: #f16d7f; }

.menu-list {
  position: relative; }

.category {
  margin-top: 98px; }
  .category__p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px; }
  .category__h {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.75px; }
  .category__box {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 28px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    text-align: center; }
    .category__box__small {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 260px; }
    .category__box__long {
      height: 180px;
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .category__box__man {
      background: url("adaptive_img/category-man.jpg"); }
    .category__box__women {
      background: url("adaptive_img/category-woman.jpg"); }
    .category__box__kids {
      background: url("adaptive_img/category-kids.jpg"); }
    .category__box__accesoryes {
      background: url("adaptive_img/category-accesoryes.jpg"); }

.product {
  margin-top: 98px; }
  .product__container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 28px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch; }
  .product__box {
    margin-top: 50px;
    transition: all 300ms ease;
    background-color: #f8f8f8; }
    .product__box:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.17);
      transition: all 300ms ease; }
  .product__img-box {
    position: relative;
    transition: all 300ms ease; }
    .product__img-box img {
      height: 100%;
      width: 100%; }
    .product__img-box:hover .product__hide-box {
      opacity: 0.5;
      transition: all 300ms ease; }
    .product__img-box:hover .product__cart-box-text {
      opacity: 1;
      transition: all 300ms ease; }
  .product__hide-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0; }
  .product__cart-box-text {
    position: absolute;
    top: 45%;
    left: 35.29%;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    transition: all 300ms ease;
    opacity: 0; }
    .product__cart-box-text:hover {
      box-shadow: 0 0 5px #fff;
      transition: all 300ms ease; }
  .product__text-box {
    display: block;
    padding: 18px; }
  .product__name {
    padding-top: 8px;
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.33px; }
  .product__about {
    padding-top: 19px;
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px; }
  .product__price {
    padding-top: 19px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .product__h {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
    text-align: center; }
  .product__p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    text-align: center; }

.feature {
  margin-top: 85px;
  background-color: #222224;
  height: 341px; }
  .feature__container {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 28px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch; }
  .feature__box {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=adaptive_style.css.map */
