<div class="item" data-id="{{id}}" data-img="{{imgMax}}">
    <a href="?page=item&open={{id}}">
    <img src="{{imgMin}}" alt="">
    </a>
    <h5>{{name}}</h5>
    <div class="item__about">{{about}}</div>
    <p><span>{{price}}$</span><a href="?page=items&item={{id}}">buy</a></p>
</div>

