*
  margin: 0
  padding: 0
  outline: none
  text-decoration: none

@import "adaptive-var"

body
  font-family: 'Lato', sans-serif

.container
  margin: 0 auto
  width: 1140px

.header
  max-width: 100%
  position: relative
  background-color: #f1e4e6
  &__flex
    display: flex
  &__img-box
    width: 49%
    img
      width: 100%
  &__container
    width: 50%
    &__white
      background-color: #f4f3f3
  &__text-box
    margin-top: 30%
    margin-left: 7%
    padding-left: 12px
    border-left: 12px solid $pink
  &__h
    color: #222222
    font-size: 60px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 1.5px
    line-height: 40px
  &__p
    color: #222222
    font-size: 40px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 1px
    line-height: 32px
    padding-top: 20px
    &__pink
      color: $pink

.header-nav
  &__banner
    width: 100%
  &__input-search
    display: none
    background-color: #f1e4e6
    padding: 10px 15px
    margin-left: 20px
    margin-top: 14px
    width: 50%
    height: 30px
    border: 1px solid #595959
    border-radius: 3px
    color: #595959
    font-size: 20px
  &__left
    width: 50%
    display: flex
    flex-flow: row nowrap
    position: absolute
    justify-content: flex-start
  &__right
    display: flex
    flex-flow: row nowrap
    position: relative
    justify-content: flex-end
  &__link
    width: $header-nav-box-size
    height: $header-nav-box-size
    display: block
    text-align: center
    text-decoration: none
    font-size: 26px
    color: #595959
    line-height: 68px
    transition: all 300ms ease
    &__call-menu
      &:active ~ .menu
        display: flex
    &__call-search
      &:active ~ .header-nav__input-search
        display: block
    &__black
      background-color: #222222
      color: white
      transition: all 300ms ease
      &:hover
        transition: all 300ms ease
        background-color: white
        color: #595959
    img
      padding-top: 15px
    &:hover
      transition: all 300ms ease
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.17)

.header-nav-drop
  &__long
    display: flex
    left: 0
    width: 100%
    min-height: 44px
    top: 100px
    background-color: #fff
    align-items: center

.menu
  position: absolute
  top: 100px
  width: 75%
  padding-left: 10%
  padding-right: 15%
  display: none
  flex-flow: row nowrap
  list-style-type: none
  justify-content: space-around
  background-color: #ffffff
  &__link
    display: block
    text-decoration: none
    color: #232323
    font-size: 16px
    font-weight: 300
    letter-spacing: 0.4px
    padding: 10px 0
    white-space: nowrap
    transition: all 300ms ease
    &:hover
      color: $pink
      transition: all 300ms ease

.menu-list
  position: relative

.category
  margin-top: 98px
  &__p
    color: #ffffff
    font-size: 18px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.45px
  &__h
    color: $pink
    font-size: 30px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.75px
  &__link
    width: 100%
    height: 100%
    display: block
    transition: all 300ms ease
    &:hover
      transition: all 300ms ease
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3)
  &__box
    display: grid
    grid-template-columns: 4fr 4fr 4fr
    grid-column-gap: 28px
    grid-row-gap: 20px
    justify-items: stretch
    align-items: stretch
    text-align: center
    &__small
      display: flex
      align-items: center
      justify-content: center
      height: 260px
    &__long
      height: 180px
      margin-top: 32px

    &__man
      background: url("adaptive_img/category-man.jpg")
    &__women
      background: url("adaptive_img/category-woman.jpg")
    &__kids
      background: url("adaptive_img/category-kids.jpg")
    &__accesoryes
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: url("adaptive_img/category-accesoryes.jpg")
    &__text-box

.product
  margin-top: 98px
  &__container
    margin-top: 10px
    display: grid
    grid-template-columns: 4fr 4fr 4fr
    grid-column-gap: 28px
    grid-row-gap: 20px
    justify-items: stretch
    align-items: stretch
  &__box
    margin-top: 50px
    transition: all 300ms ease
    background-color: #f8f8f8
    &:hover
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.17)
      transition: all 300ms ease
  &__img-box
    position: relative
    transition: all 300ms ease
    img
      height: 100%
      width: 100%
    &:hover .product__hide-box
      opacity: 0.5
      transition: all 300ms ease
    &:hover .product__cart-box-text
      opacity: 1
      transition: all 300ms ease
  &__hide-box
    position: absolute
    top: 0
    width: 100%
    height: 100%
    background-color: #000
    opacity: 0
  &__cart-box-text
    position: absolute
    top: 45%
    left: 35.29%
    text-decoration: none
    padding: 8px
    border: 1px solid#ffffff
    color: #ffffff
    font-size: 14px
    font-weight: 700
    transition: all 300ms ease
    opacity: 0
    &:hover
      box-shadow: 0 0 5px #fff
      transition: all 300ms ease
  &__text-box
    display: block
    padding: 18px
  &__name
    padding-top: 8px
    color: #000000
    font-size: 13px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.33px
  &__about
    padding-top: 19px
    color: #5d5d5d
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.35px
  &__price
    padding-top: 19px
    color: $pink
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
  &__h
    color: #222222
    font-size: 30px
    font-weight: 700
    line-height: 54px
    letter-spacing: 0.75px
    text-align: center
  &__p
    color: #9f9f9f
    font-size: 14px
    font-weight: 400
    line-height: 54px
    letter-spacing: 0.35px
    text-align: center
  &__button-box
    text-align: center
    margin-top: 55px
  &__button
    color: #ffffff
    font-size: 16px
    font-weight: 700
    line-height: 54px
    text-decoration: none
    padding: 15px 29px

.feature
  margin-top: 85px
  background-color: #222224
  height: 341px
  &__container
    display: grid
    grid-template-columns: 4fr 4fr 4fr
    grid-column-gap: 28px
    grid-row-gap: 20px
    justify-items: stretch
    align-items: stretch
  &__box
    margin-top: 20%
    width: 100%
    height: 100%
    display: block
    text-align: center
    justify-content: center
    img
      height: 40px
      width: 40px
  &__h
    padding-top: 23px
    color: #fbfbfb
    font-size: 20px
    font-weight: 700
    letter-spacing: 0.5px
  &__p
    padding-top: 21px
    color: #fbfbfb
    font-size: 14px
    font-weight: 300
    line-height: 1.71
    letter-spacing: 0.35px



.button-site
  background-color: #f16d7f
  border: 1px solid
  transition: all 300ms ease
  text-decoration: none
  &:hover
    background-color: #fff
    color: #f16d7f
    transition: all 300ms ease


.subscribe
  &__container
    display: flex
  &__left
    width: 50%
  &__logo-box
    margin: 90px
    display: grid
    grid-template-columns: 2fr 2fr
    grid-template-rows: 2fr 2fr
    grid-column-gap: 20px
    grid-row-gap: 20px
    justify-items: stretch
    align-items: stretch
    transition: all 300ms ease
    img
      width: 100%
    &__link:hover
      transition: all 300ms ease
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.17)
  &__img-container
    padding: 10px
  &__right
    width: 50%
    text-align: center
    margin-top: 150px
  &__text-box
    padding-left: 84px
  &__h
    color: #222224
    font-weight: 400
    font-size: 24px
    letter-spacing: 0.6px
  &__p
    color: #222224
    font-weight: 400
    font-size: 14px
    letter-spacing: 0.35px
    line-height: 1.71
  &__form
    margin-top: 35px
  &__input
    width: 266px
    height: 46px
    border: 0
    border-radius: 23px 0 0 23px
    background-color: #e1e1e1
    padding-left: 28px
  &__button
    position: absolute
    border: 1px solid $pink
    height: 46px
    width: 97px
    border-radius: 0 23px 23px 0
    background-color: #f16d7f
    color: #ffffff
    font-size: 14px
    font-weight: 400
    &:hover
      color: $pink
      background-color: #ffffff

.review
  background: url("adaptive_img/review-back.jpg") no-repeat center
  background-size: 100% 100%
  height: 438px
  position: relative
  &__text
    padding-top: 25px
    color: #222224
    font-size: 20px
    font-style: italic
    line-height: 1.9
    letter-spacing: 0.5px
  &__name
    padding-top: 30px
    color: $pink
    font-size: 16px
    font-weight: 700
    letter-spacing: 0.4px
    line-height: 1.63
  &__location
    color: #222224
    font-size: 12px
    font-weight: 300
    letter-spacing: 0.3px
    line-height: 1.17
  &__slider
    position: relative
    width: 100%
    height: 320px
    margin: auto
    overflow: hidden
  &__slide
    text-align: center
    position: absolute
    top: 15%
    left: 19.5%
    width: 60%
  &__radio-box
    width: 100%
    height: 30px
    display: flex
    justify-content: center
  &__radio-list
    list-style: none
    width: 100%
    height: 5px
    display: flex
    justify-content: center

  &__radio
    margin-right: 20px
    display: none
    width: 38px
    height: 4px
    &__btn
      white-space: normal
      height: 100%
      width: 100%
      &::before
        width: 38px
        height: 4px
        background-color: $pink








.footer
  &__container
    margin-top: 109px
    display: grid
    grid-template-columns: 5fr 2.3fr 2.3fr 2.3fr
    grid-template-rows: 2fr
    grid-column-gap: 20px
    grid-row-gap: 20px
    justify-items: stretch
    align-items: stretch
  &__logo-box
    display: flex
    align-items: center
  &__brand
    padding-left: 13px
    color: #3e3e40
    font-size: 27px
    font-weight: 400
    line-height: 1.19
    text-transform: uppercase
    letter-spacing: 0.68px
    span
      color: $pink
      font-weight: 700
      letter-spacing: 0.68px
  &__p
    padding-top: 30px
    padding-right: 30px
    color: #898989
    font-size: 14px
    font-weight: 300
    line-height: 1.71
    letter-spacing: 0.35px
  &__rights
    height: 1.7%
    background-color: #e6e6e6
  &__menu
    list-style: none
  &__h
    padding-bottom: 30px
    color: $pink
    font-size: 18px
    font-weight: 700
    line-height: 1.44
    text-transform: uppercase
    letter-spacing: 0.45px
  &__link
    text-decoration: none
    color: #898989
    font-size: 16px
    font-weight: 400
    letter-spacing: 0.4px
    line-height: 3
    &:hover
      color: $pink
  &__rights
    margin-top: 96px
    background-color: #e6e6e6
    display: flex
    justify-content: space-around
    padding-top: 10px
    padding-bottom: 10px
  &__copyright
    color: #7a7a7a
    font-size: 16px
    font-weight: 400
    line-height: 2.63
    letter-spacing: 0.4px
  &__socail-box
    display: flex
    padding-top: 5px
  &__social-link
    display: block
    margin-right: 8px
    width: 32px
    height: 32px
    text-align: center
    background-color: #fff
    outline: none
    color: #b2b2b2
    font-size: 16px
    font-weight: 400
    line-height: 32px
    &:hover
      color: #fff
      background-color: #f16d7f

