<footer>
  <form action="" enctype="multipart/form-data" method="post">
    <input type="hidden" name="token" value="<? echo(rand(10000,99999));?>" />
    <input name="picture" type="file" />
    <input type="submit" name="load" value="Загрузить" required/>
  </form>
</footer>